@model PatientManagementSystem.Models.Admin
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="card shadow p-4">
    <h4 class="mb-4">Detalles de @Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
@{
            var sessionValue = HttpContextAccessor.HttpContext?.Session?.GetString("AdminLoggedIn");
            }   
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-session_id="@sessionValue" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary" asp-route-session_id="@sessionValue">Volver a la listado</a>
</div>
